* {
    margin: 0px;
    padding: 0px;
    overscroll-behavior-y: none;
}


/* フォントの指定 */

body {
    font-family: "M PLUS 1p", sans-serif;
}


/* ヘッダーの画像 */

header img {
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.226);
}


/* ここから本題 */

main {
    height: auto;
    width: 100%;
    border-bottom: solid 1px#eeeeee;
    text-align: center;
}


/* 自己紹介 */

.introduction {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px#eeeeee;
    margin: auto;
}


/* 自己紹介の文と画像を横にしている */

.yoko {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.yoko img {
    border-radius: 50%;
}


/* スキル */

.skills {
    border-bottom: solid 1px#eeeeee;
    position: relative;
    height: auto;
}


/* タブ機能 */

.tab_wrap {
    width: 50%;
    height: auto;
    margin: 10px auto;
}

input[type="radio"] {
    display: none;
}


/* タブ */

.tab_area {
    font-size: 0;
    margin: 0 0px;
}

.tab_area label {
    width: 150px;
    margin: 0 0px;
    display: inline-block;
    padding: 12px 0;
    color: #999;
    background: #ddd;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: ease 0.2s opacity;
    border: #eeeeee solid 2px;
}


/* タブのアニメーション */

.tab_area label:hover {
    opacity: 0.5;
}


/* パネル */

.panel_area {
    background: #fff;
    border: #eeeeee solid 2px;
}

.tab_panel {
    width: 100%;
    height: 350px;
    padding: 80px 0;
    display: none;
}

#tab1:checked~.tab_area .tab1_label {
    background: #fff;
    color: #000;
}

#tab1:checked~.panel_area #panel1 {
    display: block;
}

#tab2:checked~.tab_area .tab2_label {
    background: #fff;
    color: #000;
}

#tab2:checked~.panel_area #panel2 {
    display: block;
}

#tab3:checked~.tab_area .tab3_label {
    background: #fff;
    color: #000;
}

#tab3:checked~.panel_area #panel3 {
    display: block;
}

#tab4:checked~.tab_area .tab4_label {
    background: #fff;
    color: #000;
}

#tab4:checked~.panel_area #panel4 {
    display: block;
}


/* パネル内のimgタグ */

.panel_area img {
    width: 40%;
}


/* パネルのpタグ */

.tab_panel p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.imgsmoll {
    width: 60%;
    margin: auto;
}


/* 作品紹介 */

.work {
    border-bottom: solid 1px#eeeeee;
}


/* ライズ */

.rise {
    background-color: #eeeeee;
    margin: 20px auto;
    width: 70%;
    border-radius: 100px;
    transition: box-shadow 0.5s;
}


/* 影のアニメーション */

.rise:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.226);
}


/* フッター */

footer {
    text-align: center;
    margin: 5px;
}